html {
    font-family: Didot, serif;
    font-size: 14px;
    line-height: 140%;
}

code, pre, pre.pygments {
    background-color: #F8F8FF !important;
    font-family: JetBrains Mono, monospace;
    font-size: 12px;
}

p {
    margin: 1em 0;
    text-align: justify;
    hyphens: auto;
}

li p {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin-bottom: 0.3em;
}

.listingblock {
    break-inside: avoid;
}

#header {
    break-after: always;
    text-align: center;
}

#header h1 {
    font-size: 60px;
    line-height: 60px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 15%;
}

#header .details {
    font-size: 24px;
    line-height: 36px;
    padding-top: 70%;
}

#revnumber {
    display: none;
}
#toc {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Copperplate;
}

h2 {
    break-before: always;
    string-set: heading content();
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#footer-text {
    display: none;
}

@page {
    padding-top: 1cm;

    @top-left {
        content: counter(page);
        font-size: 10pt;
        height: 1cm;
        vertical-align: middle;
        width: 100%;
    }

    @top-right {
        content: string(heading);
        font-size: 10pt;
        height: 1cm;
        vertical-align: middle;
        width: 100%;
    }
}

@page :blank {
    @top-left {
        background: none;
        content: ''
    }

    @top-center {
        content: none
    }

    @top-right {
        content: none
    }
}

@page no-chapter {
    @top-left {
        background: none;
        content: none
    }

    @top-center {
        content: none
    }

    @top-right {
        content: none
    }
}
